
.submenuCart {
    font-size: 20px;
}
.qty{
    width: 20px;
    height: 20px;
    background-color: #f1f2f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
   padding-left: 4px;
   margin-left: 5px;
}
.qty:hover{
    color:white;
    background-color: black;
}
button.btn-checkout{
    background-color:#525151;
   width:inherit;

    border-radius: 5px;
    color:white;
    height: 52px;
    border:none
}