.ant-tabs-tab, .ant-tabs-tab:hover{
    font-size: 21px !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #23232c!important;
}
.review{
    width:50vw;
    justify-content: center;
 
}
.ant-tabs-tabpane.ant-tabs-tabpane-active{
    display: flex;
    justify-content: center;
}
.size-18{
    font-size: 18px;
}
.review-date{
    color:#909097
}
.review-content{
    margin-top: 13px;
    margin-bottom: 25px;
    font-size: 18px;

}
.review-div{
    border-bottom:  1px solid #f1f2f4;
    margin-top: 25px;
}
.related-product{
    margin-top:45px;
    margin-bottom: 35px;
    font-size: 24px;
    color: #23232c;
}
.route{
    font-size: 18px;
    padding-bottom: 15px;
}
.content{
    margin-left: 30px;
    margin-right: 26px;
}
.router{
    font-size: 12px;
}