.ant-menu-horizontal{
    border-bottom: unset!important;
}
.header{
  height:"13vh";
 
  margin: 20px 10px 20px 10px;

}

.logo{
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.item-header{
  width: 30vw;
}
.float-right{
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
.ant-menu-item-selected a{
  font-size: 22px!important;
}
.forgotPass{
  color:rgb(214, 90, 90)!important;
 margin-right: 20px;
}
.register{
  color:rgb(202, 117, 5)!important
}